.tweetBox {
    padding-bottom: 10px;
    margin-left: 20px;
    border-bottom: 8px solid var(--twitter-background);
}

.tweetBox > form {
    display: flex;
    flex-direction: column;
}

.tweetBox__input {
    padding: 10px;
    display: flex;  
}
.tweetBox__input > input {
    flex: 1;
    margin-left: 10px;
    font-size: 20px;
    border: none;
}
.tweetBox_tweetButton{
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width:80px;
    height: 40px !important;
    margin-top: 10px !important;
    font-size: 16px !important;
    margin-left: auto !important;
    margin-right: 25px !important;
}
.tweetBox__imageUrl {
    border: none;
    padding: 10px;
}